# Deployer private key
PHAROS_DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Keeper/Reporter private key
PHAROS_KEEPER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d

# Pharos Atlantic RPC endpoint
PHAROS_RPC_URL=https://atlantic.dplabs-internal.com

# Analytics API Config
PORT=3000
DATABASE_URL=file:./db.sqlite
